---
title: Buttons
permalink: /buttons/
---
Dies ist ein Beispiel für einen Button: 
<a href="/" class="navbar-item button is-rounded is-dark {% if item.link == page.url %} is-active {% endif %}">
    <span>Test</span>
    <span class="icon is-small">
    <i class="fas fa-chevron-right"></i>
    </span>
</a>  
Dieser passt sich der Größe seiner Column an.
<div class="columns">
    <div class="column is-3">
        <a href="/" class="button is-rounded is-dark {% if item.link == page.url %} is-active {% endif %}">
            <span>Test</span>
            <span class="icon is-small">
            <i class="fas fa-chevron-right"></i>
            </span>
        </a>  
    </div>
    <div class="column is-3">
        <a href="/" class="button is-rounded {% if item.link == page.url %} is-active {% endif %}">
            <span>Test</span>
            <span class="icon is-small">
            <i class="fas fa-chevron-right"></i>
            </span>
        </a>  
    </div>
    <div class="column is-3">
        <a href="/" class="button is-dark {% if item.link == page.url %} is-active {% endif %}">
            <span>Test</span>
            <span class="icon is-small">
            <i class="fas fa-chevron-right"></i>
            </span>
        </a>  
    </div>
</div>

Einen Button erstellt man mit:
```html
<a href="{{ section.link | relative_url }}" class="button is-rounded is-dark { % if item.link == page.url % } is-active { % endif % }">
    <span>Mehr Lesen</span>
    <span class="icon is-small">
    <i class="fas fa-chevron-right"></i>
    </span>
</a>  
```