{% if page.contact %}
  <div class="container contact">
    <h1>{{ site.data.contact.title  }}</h1>
    {{ site.data.contact.introduction  }}
    <form action="{{ site.data.contact.action }}"  class="columns">
        <div class="column is-6">
            <div class="field">
                <label class="label">Vor- und Nachname</label>
                <div class="control has-icons-left">
                  <input class="input" type="text" id="name" name="name" placeholder="Hier tippen..." required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">E-Mailadresse</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" id="email" name="email" placeholder="Hier tippen...">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Betreff</label>
                 <div class="control has-icons-left">
                  <input class="input" id="thema" name="thema" placeholder="Hier tippen...">
                  <span class="icon is-small is-left">
                    <i class="fas fa-pen"></i>
                  </span>
                </div>
              </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <label class="label">Nachricht</label>
                <div class="control">
                  <textarea
                      class="textarea"
                      id="message"
                      name="message"
                      placeholder="Hier tippen..."
                      required=""
                  ></textarea>
                </div>
              </div>
              <div class="checkbox columns">
                <div class="column contact-box">
                  <input class="column" type="checkbox" id="agree" name="privacy-policy" value="agreed" required oninvalid="this.setCustomValidity('Bitte dieses Feld anklicken, um fortzufahren')"
                       oninput="this.setCustomValidity('')">
                </div>
                
                <div class="column contact-agree">
                  <label for="agree">{{ site.data.contact.checkbox  }}</label><br><br>
                  <button class="button is-rounded is-dark" type="submit">Abschicken</button>
                </div>
              </div>
        </div>
    </form>
  </div>
{% endif %}