<footer class="footer is-hidden-print is-primary">
    <div class="container">
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if site.data.navigation %}
        <div class="columns">
            {% for item in site.data.navigation %}
                <div class="column has-text-centered">
                    <a href="{{ subitem.link | relative_url }} " class="link"><strong>{{ item.name }}</strong></a>
                    {% if item.dropdown %}
                    <div class="columns">
                        {% for subitem in item.dropdown %}
                        <div class="column">
                            <a href="{{ subitem.link | relative_url }}" class="link">{{ subitem.name }}</a>
                        </div>
                        {% endfor %}
                    </div>                                            
                {% endif %}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">INTIA, 2021</p>
        </div>
    </div>
</footer>
