<footer class="footer is-hidden-print is-primary">
    
    <div class="container columns is-centered is-multiline is-bordered-bottom">
        <div class="navbar-brand column is-full">
            <a href="{{ site.baseurl }}/" class="columns navbar-item">
                <img class="column" src="{{ site.baseurl }}/assets/img/logo-white.png">
                <p class="calumn brand-title"></p>
            </a>
        </div>
        <div class="column is-2">
            <div class="title">www.intia.de</div>
                TH-Köln | DITES<br>
                Campus Südstadt<br>
                Ubierring 48<br>
                50678 Köln

        </div>
        {% if site.data.navigation %}
        <div class="column ">
            <div class="title">Site Map</div>
            <div class="columns footer-nav">
                {% for item in site.data.navigation %}
                    <div class="column">
                        <a href="{{ subitem.link | relative_url }} " class="link"><strong>{{ item.name }}</strong></a>
                        {% if item.dropdown %}
                        <div class="">
                            {% for subitem in item.dropdown %}
                            <div class="">
                                <a href="{{ subitem.link | relative_url }}" class="link">{{ subitem.name }}</a>
                            </div>
                            {% endfor %}
                        </div>                                            
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% if site.footer_menu %}
        <div class="column is-2">
            <div class="title">Rechtliches</div>
            <div class="">
                {% for item in site.data[site.footer_menu] %}
                <div class="">
                    <div>
                        <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
        <div class="columns content is-small has-text-centered footer-logos">
            <div class="column has-text-right"><div class="page-owner">
                <p class="has-text-left">Eine Seite von</p>
                <img src="{{ site.baseurl }}/assets/img/logos/INTIA_Plattform_Logos_TH_weiss.png">
                <img src="{{ site.baseurl }}/assets/img/logos/INTIA_Plattform_Logos_Dites_weiss.png">
            </div></div>
            <div class="column has-text-left"><div class="page-sponsor">                
                <p class="has-text-left">Gefördert von</p>
                <img src="{{ site.baseurl }}/assets/img/logos/INTIA_Plattform_Logos_BMBF_weiss.png">
            </div></div>
        </div>
        <div class="content is-small has-text-centered">
            <p class="">INTIA, 2021</p>
        </div>
    
</footer>
