<nav class="navbar is-hidden-print is-primary is-fixed-top" x-data="{ openNav: false }">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="">
                <img src="{{ site.baseurl }}/assets/img/logo-black.png">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu"
                :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end buttons">
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                {% if item.dropdown %}
                <div
                    class="navbar-item has-text-left button is-rounded is-dark has-dropdown is-hoverable {% if site.fixed_navbar == 'bottom' %} has-dropdown-up {% endif %} {% for subitem in item.dropdown %} {% if subitem.link == page.url %} is-active-header {% endif %} {% endfor %}">
                    
                    {% if item.selectable %}
                      <a href="{{ item.link | relative_url }}"
                        class="navbar-link {% if item.link == page.url %} is-active {% endif %}">{{ item.name }}</a>
                    {% else %}
                     <a for="navbar-click" class="navbar-link">{{ item.name }}</a>
                    {% endif %}
                    <div class="navbar-dropdown">
                        {% for subitem in item.dropdown %}
                        <a href="{{ subitem.link | relative_url }}"
                            class="navbar-item button is-rounded is-dark  {% if subitem.link == page.url %} is-active {% endif %}">{{ subitem.name
                            }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <div
                    class="navbar-item has-text-left button is-rounded is-dark has-no-dropdown is-hoverable {% if item.link == page.url %} is-active {% endif %}">
                    <a href="{{ item.link | relative_url }}"
                        class="navbar-link is-arrowless ">{{ item.name }}</a>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                <div class="navbar-end">
                    <div class="navbar-item navbar-search">
                        <a id="openSearch">
                            <span class="icon">
                                <i class="fa-solid icon-search"></i>
                            </span>
                        </a>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{% unless page.hide_beadcrumb %}
<section class="breadcrumb-section green-version">
    <div class="container breadcrumb-container">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <li><a href="/">{{ site.title }}</a></li>
            {% if site.breadcrumb_from_url %}
                {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                <li><a href="#">{{ page.title }}</a></li>
                {% else %}
                <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
                {% endif %}
                {% endfor %}
            {% else %}
                {% if page.breadcrumbs %} 
                    {% for crumb in page.breadcrumbs %}
                        <li><a>{{ crumb }}</a></li>
                    {% endfor %}
                {% elsif page.title_above %}
                    <li><a >{{ page.title_above }}</a></li>
                {% else %}
                {% endif %}
                {% unless crumbs == empty %}
                <li><a href="#">{{ page.title }}</a></li>
                {% endunless %}
            {% endif %}
            </ul>
        </nav>
    </div>
</section>
{% else %}
{% endunless %}


<div id="SearchOverlay" class="overlay">
    
    <div class="overlay-content">
        
        <div class="field">
            <div id="search-container" class="control">
              <input class="input" type="text" id="search-input" placeholder="Suchbegriff eintippen">
            </div>
        </div>
        <span class="closebtn" id="closeSearch" title="Close Overlay">×</span>
        <ul id="results-container"></ul>
    </div>
</div>
  <!-- Script pointing to search-script.js -->
  <script src="/assets/js/search.js" type="text/javascript"></script>
  
  <!-- Configuration -->
  <script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/search.json',
    searchResultTemplate: '<li><a class="search-item" href="{{ site.url }}{url}">{title}</a></li>'
  })
  </script>