{% if page.story_slider %}
    <div class="green">
        <h1>Aktuelles</h1>

        <div class="carousel">
            <div class="story-carousel-item">
                <div class="container">
                    <div class="section">
                      <div class="slider story-slider columns">
                        <div class="slider-image column is-half">
                          <figure class="image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Great_Wave_off_Kanagawa2.jpg" alt="this used to be photo">             
                          </figure>
                        </div>
                        <div class="slider-content column is-half">
                            <div class="media">
                              <div class="media-content">
                                <p class="">Once upon a time there was a sailor</p>
                              </div>
                            </div>
                
                            <div class="content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
                              <a href="/" class="button is-rounded has-text-centert is-dark {% if item.link == page.url %}is-active{% endif %}">
                                  <span>Important</span>
                                  <span class="icon is-small">
                                  <i class="fas fa-chevron-right fa-xs"></i>
                                  </span>
                              </a>           
                            </div>
                          </div>
                      </div>
                </div>
                </div>
            </div>
            <div class="story-carousel-item">
                <div class="container">
                    <div class="section">
                      <div class="slider story-slider columns">
                        <div class="slider-image column is-half">
                          <figure class="image">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Great_Wave_off_Kanagawa2.jpg" alt="this used to be photo">             
                          </figure>
                        </div>
                        <div class="slider-content column is-half">
                
                            <div class="content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
                              <a href="/" class="button is-rounded has-text-centert is-dark {% if item.link == page.url %}is-active{% endif %}">
                                  <span>Important</span>
                                  <span class="icon is-small">
                                  <i class="fas fa-chevron-right fa-xs"></i>
                                  </span>
                              </a>           
                            </div>
                          </div>
                      </div>
                </div>
                </div>
            </div>
		</div>
    </div>
{% endif %}