{% for story in site.posts %}

<div class="news">
    <div class="news-item">
      <div class="container">
        <div class="section">
          <div class="story-news columns">
            <div class="news-image column is-half">
              <figure class="image">
                <img src={{story.preview_image}} alt="this used to be photo">             
              </figure>
            </div>
            <div class="news-content column is-half">
                <div class="media">
                  <div class="media-content">
                    <h4>{{story.date | date: "%d.%m.%Y"}}</h4>
                    <h2>{{story.title}}</h2>
                  </div>
                </div>                
                <div class="content">
                  <p>
                  {{story.subtitle}}</p>
                  <a href="{{ story.url | relative_url }}" class="button is-rounded has-text-centert is-dark {% if item.link == page.url %}is-active{% endif %}">
                      <span>{{ page.stories_button | default:"Read more" }}</span>
                      <span class="icon is-small">
                      <i class="fas fa-chevron-right fa-xs"></i>
                      </span>
                  </a>           
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}



