// Classes that are meant to be used by custom css of theme users

// For icons.scss
.fas {
  line-height: 2.25rem !important;
}
.invert{
  filter: invert(100%);
}
.custom-icon {
  content: "";
  background: url(https://via.placeholder.com/48x48) no-repeat;
  background-position: center center;
  display: block;
  width: 48px;
  height: 48px;
  float: left;
}
.custom-button-icons {
  content: "";
  background: url(https://via.placeholder.com/48x48) no-repeat;
  background-position: center center;
  background-size: contain !important;
  display: block;
  width: 15px;
  height: 15px;
  float: left;
}
