// Custom Icons
.icon-handshake:before {
  @extend .custom-icon;
  background: url(/assets/img/icons/handshake.svg) no-repeat;
}
.icon-download:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/download.svg) no-repeat;
}
.icon-external:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/external.svg) no-repeat;
  transform: rotate(-90deg);
}
.icon-search:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/search.svg) no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(35%) sepia(93%) saturate(355%) hue-rotate(124deg) brightness(93%) contrast(88%);
}
.icon-remove:before {
  @extend .custom-button-icons;
  background: url(/assets/img/icons/remove.svg) no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(35%) sepia(93%) saturate(355%) hue-rotate(124deg) brightness(93%) contrast(88%);
}
.icon-font-size:before {
  @extend .custom-button-icons;
  width: 1.5rem;
  height: 1.5rem;
  background: url(/assets/img/icons/font-size.svg) no-repeat;
}

