//$navbar-box-shadow-color: transparent;
// Bulma
@import "../node_modules/bulma/bulma.sass";
// Extensions
@import "../node_modules/bulma-block-list/src/block-list.scss";
@import "../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";
// Bulma Config
$column-gap: 1rem;
$modal-content-width: 800px;
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
// Global
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h1,
h2,
h3,
p {
  padding-bottom: 30px;
}
h1,
h2 {
  padding-top: 90px;
}

.card h1,
.card h2,
.card p,
.slider h1,
.slider h2,
.slider p {
  padding-top: 0;
  padding-bottom: 0;
}

h1,
h1 p {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
  text-align: center;
}

.green h1,
.green h1 p {
  text-align: left;
}

h2,
h2 p {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
  background-repeat: no-repeat;
  background-size: auto 35px;
  font-family: "Verdana", sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 1.7rem;
  padding-top: 50px;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}
ul {
  list-style-type: disc;
  padding-left: 1em;
}
// Button Animation + Gleiche Breite
.button {
  // Schrifft
  font-size: 1.31rem !important;
  font-weight: 600;
  // Animation
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color, transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-property: background-color, transform;
  -o-transition-duration: 0.3s;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-property: background-color, transform;
  -moz-transition-duration: 0.3s;
}

.button a,
.button span {
  // Schrifft
  font-size: 16px !important;
  font-weight: 600;
}

.navbar-menu .button,
.navbar-dropdown .button {
  // Buttongröße aus Figma
  width: 180px;
  height: 47px;
}
.navbar-item.has-no-dropdown {
  padding: 0;
}
.navbar.is-primary .navbar-item.has-no-dropdown .navbar-link:hover,
.navbar.is-primary .navbar-item.has-no-dropdown .navbar-link.is-active {
  background-color: transparent;
  color: #fff;
}

// z.B. "Mehr über Intia" Button
.button.is-dark:hover,
.button.is-dark.is-hovered {
  border-width: 1px;
  background-color: $dark;
  border-color: transparent;
  color: white;
}
@include desktop {
  .navbar-menu .button.is-dark:hover.has-dropdown,
  .navbar-menu .button.is-dark.is-hovered.has-dropdown {
    background-color: $primary-dark;
  }
}
.is-active-header {
  background-color: $dark !important;
}
@include mobile {
  .is-active-header {
    background-color: transparent !important;
  }
}
// Dropdownmenüelemente
.navbar-dropdown,
.navbar-item:focus,
.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
  background-color: $dark;
  border-width: 2px;
  color: white;
}
.navbar.is-primary .navbar-start .navbar-item:hover .navbar-link::after,
.navbar.is-primary .navbar-end .navbar-item:hover .navbar-link::after {
  transform: rotate(135deg);
  margin-top: 0;
}

// Dropdownmenühintergrund und Rand
.navbar-dropdown {
  border-top: transparent;
  background-color: transparent;
}

// Navbar Padding
.navbar-end.buttons {
  padding-left: 0px;
  padding-top: 15px;
  font-weight: bold;
}
// Logo Padding
.navbar-item {
  //padding-top: 21px;
}
.navbar-dropdown {
  display: none;
}
.button.is-dark.has-dropdown:hover .navbar-dropdown,
.button.is-dark.is-hovered.has-dropdown .navbar-dropdown {
  display: block;
}

.footer {
  background-color: $primary-dark;
  color: white;
}

.link {
  color: $primary;
}

.footer .link {
  color: white;
}

.is-outlined {
  border-width: 2px;
  border-color: $primary-dark;
}

div.highlight {
  margin-bottom: 1rem;
}

@include desktop {
  .navbar-item {
    border-width: 2px;
    display: block;
    &.is-hoverable:hover {
      border-width: 2px;
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

// Duno
.contents {
  box-shadow: $box-shadow;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.content {
  figure {
    margin: 0;
  }
}

.callout {
  &-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.75rem;
  }
}

.sticky {
  position: sticky;
  top: 30px;
}

.green {
  width: 100%;
  background-color: $light;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 6rem;
  padding-bottom: 8rem;
  overflow: hidden;
}

.highlighter {
  background-color: $light;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  border-radius: 65px;
  margin-top: 3em;
}
.overtitle {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.title-with-overtitle {
  margin-top: 0 !important;
  padding-top: 0.25em !important;
}
// Globals
img.is-rounded {
  border-radius: 65px;
}
.hidden {
  display: none;
}
.arrow-image {
  z-index: 10;
  top: calc(50% - 68px);
  left: 4vw;
  position: sticky;
  width: 64px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 132px;
}
.is-pointed-down {
  transform: scaleY(-1);
  margin-top: auto;
}
.is-hidden {
  visibility: hidden;
}
.is-visible {
  visibility: visible;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.clear {
  clear: both;
  display: block;
  width: 100%;
}
.text-green {
  color: $primary-dark;
}
a.tooltip-link {
  color: $primary-dark;
  font-weight: 600;
}
a .tooltip-popup {
  color: #000;
  font-weight: normal;
}

// Buttons - Mybe global in Buttons und raus damit?
.button.is-dark {
  background-color: $primary-dark;
}

// Navi
.navbar {
  padding-top: 0.6rem;
  padding-bottom: 2.6rem;
}

.navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
  background-color: #09443e;
  color: #fff;
}

.navbar-brand img {
  max-height: 3rem;
  margin-top: 1rem;
}

.navbar-brand a p {
  color: #000;
}

.navbar-item,
.navbar-link,
.navbar-dropdown {
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0.65em;
}

.navbar.is-primary {
  background-color: white;
}

.navbar-link {
  background-color: transparent;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: $primary-dark;
  color: white;
}
.button.is-rounded {
  padding-right: 0em !important;
}
.button.button.is-rounded:not(.navbar-item) {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}
.navbar-dropdown .button.is-rounded {
  padding-right: auto !important;
}
.navbar-dropdown .navbar-item {
  padding: 0.5rem 1rem;
  text-align: left;
}

// Hero
.hero-body {
  background-color: white;
}
.home .hero-body h1 {
  max-width: 60%;
}
.hero.is-large .hero-body {
  padding-bottom: 12rem;
}

.hero-body img {
  float: right;
  margin-left: 200px;
  top: -175px;
  position: inherit;
}
.hero {
  display: block;
}
.hero.is-primary .title {
  color: rgba(0, 0, 0, 1);
  padding-top: 70px;
}
.hero.is-medium .hero-body {
  padding: 10rem 9rem 4.5rem;
}

.hero-body .button,
.content-wrapper .button {
  padding: 16px !important;
}

.hero-body .container .button,
.float_right {
  float: right;
}
.home .hero-body h1,
.home .hero-body h1 p {
  text-align: left;
}
//// Hero sub-pages with green text
.subpage h1,
.subpage p,
.subpage ul {
  color: $primary-dark !important;
}
.subpage .hero-body img,
.toppage .hero-body img {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 0;
  max-width: auto;
}
.home .hero-body img {
  max-width: 37%;
  height: auto;
  aspect-ratio: 5 / 7;
  object-fit: cover;
}
.subpage .hero-body img {
  object-fit: cover;
  max-height: 30vw;
  width: 100%;
}
.buttons-hero {
  display: none;
}

.pdf .buttons-hero {
  display: block;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.hero-body .container .buttons-hero .button {
  float: none;
}

//// Hero top-pages with green box
.toppage .hero-body {
  background-color: $light !important;
}

.glossary {
  text-align: center;
}

// Content
#main .columns {
  width: 100%;
}
.subtitle {
  padding: 50px;
}
.subtitle.is-4 {
  font-size: 1.6rem;
}
.post h3 {
  font-weight: 600;
  padding-top: 2rem;
}
.card {
  // margin-left: 3rem;
  // margin-right: 3rem;
  margin-top: 6rem;
  box-shadow: none;
}

.card .button {
  margin-top: 50px;
}

.content-wrapper h1 {
  padding-top: 50px;
}

.content-wrapper img {
  border-radius: 65px;
  height: auto;
  object-fit: cover;
}

.content-wrapper p {
  display: inline-block;
}

.card-content h2 p {
  padding-left: 15px;
  padding-bottom: 0.5em;
}

.card-image:first-child img {
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  max-height: 100vh;
}

.card-content {
  width: 100%;
  padding: 3.5rem;
  display: flow-root;
  margin: auto;
}
.card-content p {
  padding-left: 4rem;
}
.card-content a {
  margin-left: 4rem;
}
.card-image:last-child img {
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
  max-height: 100vh;
}

.story-card {
  background-color: white;
  border-bottom-left-radius: 65px !important;
  border-bottom-right-radius: 65px !important;
  border-top-left-radius: 65px !important;
  border-top-right-radius: 65px !important;
}
.story-card .column {
  padding: 0px;
}
.story-card .card-image:first-child img {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.content_image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figcaption {
  font-size: 16px;
  color: $primary-dark;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

// story-slider
.slider {
  box-shadow: none;
}
.story-carousel-item {
  margin-left: 2%;
  margin-right: 2%;
}
.slider-container .card-content .content {
  margin: 50px;
}
.story-slider {
  background-color: white;
  border-bottom-left-radius: 65px !important;
  border-bottom-right-radius: 65px !important;
  border-top-left-radius: 65px !important;
  border-top-right-radius: 65px !important;
}
.story-slider .button {
  float: right;
}
.column.slider-image {
  padding: 0;
}
.column.slider-image .image {
  height: 100%;
}
.column.slider-image img {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 100%;
  object-fit: cover;
}
.column.slider-content {
  padding: 3em;
}
.slider-content h2 {
  margin-bottom: 2rem;
}
.slider-content {
  width: 100%;
  display: flow-root;
  margin: auto;
}
.slider-pagination .slider-page {
  background-color: #229387 !important;
  width: 20px !important;
  height: 20px !important;
  box-shadow: none;
  cursor: pointer;
}
.slider-pagination .slider-page.is-active,
.slider-pagination .slider-page:hover {
  background-color: #09443e !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}
.slider-pagination {
  bottom: -40px !important;
}
.slider-navigation-previous,
.slider-navigation-next {
  background: transparent !important;
  border: 0px !important;
  box-shadow: none !important;
}
.slider-navigation-previous img,
.slider-navigation-next img {
  border-radius: 0%;
}

//highlighter
.highlighter {
  background-color: $light;
  border-radius: 65px;
  padding: 75px;
  font-size: 1.4rem;
}

.min-height25p {
  min-height: 25vw;
}

.highlighter h1 {
  text-align: left;
  padding-top: 0;
}
.highlighter h2 {
  padding-top: 0;
  font-size: 2rem;
  font-weight: 600;
}
.two-columns p {
  column-count: 2;
  column-gap: 5rem;
}

.highlighter .button {
  float: right;
}
.highlighter .column.highlighter-image {
  margin-right: 0;
  padding: 0;
}
.highlighter .highlighter-image img {
  padding: 0;
}
.highlighter .highlighter-image .image {
  height: 100%;
}
.highlighter .highlighter-image img {
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.highlighter .highlighter-content {
  padding: 3em;
}
.highlighter .column.highlighter-content {
  margin-right: 0;
}
.highlighter.highlighter-fit-image {
  padding: 0;
}

.highlighter img {
  border-radius: 0;
  height: auto;
  width: 50%;
  float: right;
  padding-left: 5rem;
  padding-right: 5rem;
}
.highlighter img.with-zone {
  width: 100%;
  float: none;
}
.highlighter .column {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.highlighter .column .button.highlighter-column-button {
  margin-top: 1em;
  float: none;
}

.highlighter .is-round {
  display: flex;
  background-color: white;
  border-radius: 1000px;
  padding: 2rem;
  float: none;
  overflow: hidden;
  height: 300px;
  width: 300px;
}
.highlighter .is-round img {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  object-fit: cover;
  //height: auto;
  width: auto;
  aspect-ratio: 1 / 1;
}

// Footer

.footer {
  font-size: 0.75rem;
  margin-top: 5rem;
  line-height: 1rem;
  padding-top: 0;
}
.footer img {
  max-height: 4rem;
  margin-top: 1rem;
}
.footer img.column {
  padding: 0 !important;
  flex-grow: 0;
}
.footer-logos img {
  height: 80px;
  margin-right: 15px;
  image-rendering: -webkit-optimize-contrast;
}
.footer-logos p {
  padding-bottom: 5px;
}
.footer-logo-2 {
  height: 160px !important;
  max-height: 160px !important;
  margin: 0px !important;
}
.footer .title {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1rem;
}
footer .columns {
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
  padding-top: 2em;
  padding-bottom: 2em;
}
.footer .footer-nav {
  padding-top: 0;
}
.footer .footer-nav .column {
  padding-left: 0;
}
.footer-logos .column {
  flex-basis: auto;
}
.is-bordered-bottom {
  border-bottom: solid 1px #fff;
}
.page-owner {
  display: inline-block;
}

// Text neben dem Logo - gut möglich das dies seine darseinsberechtigung verliert
.brand-title {
  display: contents;
  font-weight: 600;
}

// Tool-Tip

.tooltip-popup {
  position: absolute;
  width: 20vw;
  z-index: 30;
  visibility: hidden;
  display: none;
  background: #e7f2ea;
  border-radius: 65px;
  padding: 50px;
  margin-top: -10px;
  margin-right: 30px;
}
a:hover .tooltip-popup,
.show {
  visibility: visible;
  display: block;
}
.tooltip-popup h2 {
  padding-top: 0;
}
// Contect

.input,
.textarea,
#thema {
  background-color: $light;
  border: 3px solid $primary-dark;
  border-radius: 45px;
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.input:hover,
.textarea:hover,
#thema:hover {
  border: 3px solid $dark;
}
.input:focus,
.textarea:focus {
  //border: 2px solid $primary-dark;
  border: 3px solid $dark;
  box-shadow: none;
}
.input {
  height: 2.75em;
}

.textarea {
  padding-left: 2.5em;
  padding-top: 1.5em;
  min-height: 13.5em !important;
}
.label {
  color: $primary-dark;
  font-weight: 600;
  padding-left: 0.5rem;
  margin-bottom: 0 !important;
}
.contact .column {
  padding: 5rem;
  padding-bottom: 0;
  padding-left: 0;
}
.contact .contact-box {
  flex-grow: 0;
  padding-right: 50px;
}
.contact-agree {
  padding-right: 0 !important;
}
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary-dark;
  right: 2.3em;
  z-index: 4;
}
.contact .control.has-icons-left .icon.is-left {
  left: 5px;
  top: 2px;
}
.contact .button {
  margin-top: 50px;
  float: right;
}

[type="checkbox"] {
  position: relative;
  //left: 15px;
  top: 0;
  z-index: 0;
  -webkit-appearance: none;
}
[type="checkbox"] {
  position: absolute;
}
[type="checkbox"]::before {
  width: 25px;
  height: 25px;
  border-radius: 8px;
  border: 2px solid $primary-dark;
  background-color: $light;
  display: block;
  content: "";
  float: left;
  left: 12px;
  //margin-top: 5px;
  //margin-right: 5px;
  z-index: 5;
  position: relative;
}
[type="checkbox"]:checked::before {
  box-shadow: inset 0px 0px 0px 4px #fff;
  background-color: $primary-dark;
}

// newss
.news {
  box-shadow: none;
}
.news-item {
  margin-left: 5%;
  margin-right: 5%;
}
.news-container .card-content .content {
  margin: 50px;
}
.story-news {
  background-color: $light;
  border-bottom-left-radius: 65px !important;
  border-bottom-right-radius: 65px !important;
  border-top-left-radius: 65px !important;
  border-top-right-radius: 65px !important;
}
.news-slider .button {
  float: right;
}
.column.news-image {
  padding: 0;
}
.column.news-image .image {
  height: 100%;
}
.column.news-image img {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 100%;
  object-fit: cover;
}
.column.news-content {
  padding: 3em;
}
.news-content h2 {
  margin-bottom: 2rem;
  padding-top: 0;
}
.news-content h4 {
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
}
.news-content {
  width: 100%;
  display: flow-root;
  margin: auto;
}

// Tables
.tb {
  border-collapse: collapse;
}
.tb th,
.tb td {
  padding: 5px;
  border-bottom: solid 1px $primary-dark;
}
.tb th {
  font-weight: bold;
  padding-right: 2em;
}

//FAQ Box
div.faq {
  position: relative;
}
.faq input[type="checkbox"] {
  position: absolute;
  display: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.faq label {
  cursor: pointer;
}
.faq label {
  position: relative;
  display: block;
  padding-left: 30px;
}
.faq label::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 10px;
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-top: -8px;
}
.faq input[type="checkbox"]:checked ~ h2 label::before {
  border-left: 8px solid transparent;
  border-top: 8px solid black;
  border-right: 8px solid transparent;
  margin-left: -4px;
  margin-top: -4px;
}
.faq h2 {
  padding-top: 40px;
}
.faq p {
  display: none;
  overflow: hidden;
  padding-left: 30px;
  transition: max-height 0.4s ease;
}
.faq input[type="checkbox"]:checked ~ h2 ~ p {
  display: inherit;
}
.faq input[type="checkbox"]:checked ~ h2 ~ div.faq-hide {
  display: inherit;
}
.faq div.faq-hide {
  display: none;
  max-height: none !important;
  padding-left: 30px;
  padding-bottom: 50px;
}

// Mobil

@include mobile {
  body,
  .highlighter {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .arrow-image {
    display: none;
  }
  h1,
  h2,
  h3,
  p {
    padding-bottom: 0px;
  }
  h1,
  h1 p {
    font-size: 1.875rem; //30px
  }
  .home .hero-body h1 {
    max-width: none;
  }
  .subtitle {
    padding: 35px;
    padding-top: 0;
  }
  .title.is-1 {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .subtitle.is-4 {
    font-size: 1.1rem;
  }
  h2,
  h2 p,
  .highlighter h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.83rem;
  }
  .navbar {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .navbar-brand img {
    margin: 1rem;
  }
  .hero.is-primary .title {
    padding-top: 35px;
  }
  .navbar-menu .button.is-dark {
    background-color: transparent;
    border-radius: 0;
    width: 100vw;
  }
  .navbar-menu {
    background-color: transparent;
  }
  a.navbar-link {
    background-color: $primary-dark;
  }
  a.navbar-item {
    background-color: $primary-dark !important;
    margin-left: 50px;
  }
  .navbar-item,
  .navbar-link {
    color: #fff;
    display: block;
    line-height: 2.5;
    padding: 0.9rem;
    position: relative;
  }
  .navbar-link:not(.is-arrowless)::after {
    border-color: #fff;
  }
  .navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: #09443e !important;
  }
  .button {
    height: auto;
  }
  .button a,
  .button span {
    font-size: 0.8rem !important;
    font-weight: 600;
  }
  .navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: #09443e;
    color: #fff;
  }
  .buttons {
    // display: table-caption;
  }
  .hero-body .button,
  .content-wrapper .button {
    padding: 0.5rem !important;
  }
  .hero.is-medium .hero-body {
    padding: 5rem 1rem 4.5rem;
  }
  .navbar-menu .button {
    // Buttongröße aus Figma
    height: auto;
  }
  .story-slider,
  .content-wrapper img {
    border-radius: 25px !important;
  }
  .column.slider-image img {
    border-top-right-radius: 25px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .slider-navigation-next,
  .slider-navigation-previous {
    top: 100% !important;
    width: 20px !important;
    height: 20px !important;
    margin-left: 80px;
    margin-right: 80px;
  }
  .card-content p {
    padding-left: 3rem;
  }
  .card {
    margin-top: 0;
  }
  .card-content {
    padding: 2.5rem;
  }
  .left.card-image {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .right.card-image {
    padding-bottom: 2.5rem;
  }
  .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .two-columns p {
    column-count: 1;
    column-gap: 1rem;
  }
  .highlighter .is-round {
    padding: 10px;
    height: auto;
    width: auto;
  }
  .footer-logos .column {
    text-align: left !important;
  }
  .footer-logos img {
    height: 75px;
    margin-right: 15px;
    image-rendering: -webkit-optimize-contrast;
    padding-bottom: 15px;
  }
}
