.is-outlined {
  border-width: 2px;
  border-color: $primary-dark;
}

div.highlight {
  margin-bottom: 1rem;
}

@include desktop {
  .navbar-item {
    border-width: 2px;
    &.is-hoverable:hover {
      border-width: 2px;
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

.contents {
  box-shadow: $box-shadow;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.content {
  figure {
    margin: 0;
  }
}

.callout {
  &-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.75rem;
  }
}

.sticky {
  position: sticky;
  top: 30px;
}

.navbar {
  padding-top: 1rem;
}

// Bearbeitet
.hero-body {
  background-color: white;
}

// check das bitte
.hero.is-large .hero-body {
  padding-bottom: 12rem;
}

.hero-body img {
  float: right;
  margin-left: 200px;
} 
.hero {
  display: block;
}
.hero.is-primary .title {
  color: rgba(0,0,0,1);
}

// bis hier

.navbar.is-primary {
  background-color: white;
}

.navbar-link {
  background-color: transparent;
}

.button.is-dark {
  background-color: #229387;
}

.subtitle {
  padding: 50px;
}



.hero-body .container .button {
  float: right;
}

.card {
  box-shadow: none;
}

.card .button {
  margin-top: 50px;
}

.content-wrapper h1 {
  padding-top: 50px;
}

.content-wrapper img {
  border-radius: 65px;
  height: auto;
}

.content-wrapper img.right {
}

.content-wrapper p {
    display: inline-block;
}

.card-content h2 p {
  padding-left: 15px;
}

.clear {
  clear: both;
  display: block;
  width: 100%;
}

.card-image {
}

.card-image:first-child img {
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
}

.green {
  background-color: #e7f2ea;
  height: 450px;
  width: auto;
  padding: 75px;
}
h2 {
  background-repeat: no-repeat;
  background-size: auto 35px;
}

h2 p {
  font-family: "Verdana",sans-serif;
}

.card-content {
  width: 100%;
  display: flow-root;
  margin: auto;
}
.card-content p {
  padding-left: 50px;
}
.card-content a {
  margin-left: 50px;
}
.card-image:last-child img {
  border-bottom-left-radius: 65px;
  border-bottom-right-radius: 65px;
}

img.is-rounded {
  border-radius: 65px;
}