// Font
@charset "utf-8";
$family-primary: "Verdana", sans-serif;
// Colors
//$primary: #d1e7d6 !default;
$primary: #ffffff !default;
$text: #000 !default;
$title-color: #000 !default;
//$primary-light: #e7f2ea;
//$primary-light: #ffffff;
$light: #e7f2ea;
$primary-dark: #1e7d73;
$dark: #09443e;

// Specific styles
@import "layout";
@import "helper";
@import "icons";
@import "print";

.breadcrumb-section {
  margin-top: 7.5rem;
  // position: fixed;
  //  z-index: 29;
  width: 100%;
  background-color: white;
  border-top: 2px solid #1e7d73;
  border-bottom: 2px solid #1e7d73;
}
.breadcrumb a {
  color: #1e7d73;
}
.navbar {
  padding-bottom: 2.3rem;
}
.hero.is-medium .hero-body {
  padding-top: 1rem;
}
